<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US Cellphone Parts</title>
</head>
<body style="align-content: center; font-size: 15px;">
<table>
    <tr>
        <td style="padding: 1px;">
            <div style="height: 50px; border: 1px solid gray; align-content: center; background-color: black; border-bottom: 5px solid #D10024;" align="center">
                <h3 style="color: #D10024">US CELLPHONE PARTS</h3>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 1px;"><br/><br/>Hello __usr__</td>
    </tr>
    <tr>
        <td style="padding: 1px;">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for creating an account with us. Please, verify your account by clicking the below "Verify Here" button.
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 1px;">
            <table align="center">
                <tr>
                    <td>
                        <a href="__vrfy_url__" style="align-content: center; font-size: 10px; border: 1px solid gray; padding: 10px;">Verify Account</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 1px;">
            <p style="padding: 1px;">Thank You<br/>
            Team - US Cellphone parts</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 1px;">
            <div style="height: 30px; border: 1px solid gray; align-content: center; font-size: 10px; background-color: black; border-bottom: 5px solid #D10024;" align="center">
                <p style="color: white;"><b style="color: #D10024;"><u>Note:</u></b> This is a system generated email. Please, do not reply to this email.</p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>